/* Global Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: 'Roboto', sans-serif;
}
body{
    color:#fff;
    background-color:#242729;
}
body::-webkit-scrollbar{
    width:5px;
}
body::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-color:#0d5091;
}